:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.etiq-sueltas {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    padding: 15px;
}

nav a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}

.hero-banner {
   background-color: rgb(178, 204, 227);
   height: 30vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

img {
    width: 400px;
    height: 400px;
}
.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    box-shadow: 10 10 10 rgba(0,0,0,0.2);
}