:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-right: 2rem;
}

.etiq-sueltas {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-list .nav-li .nav-a {
    text-decoration: none;
    color: white;
}


.menu {
display: none;
}

.container-head-item {
    padding: 10px 15px;
}

.li-baner {
    padding: 20px;
    display: inline;
}

.hero-banner {
    background-color: #c6f1f8;
    display: flex;
    flex-wrap: wrap;
    gap: 5px 15px;
}

.img-baner {
    width: 680px;
    height: 400px;
}

.baner-head {
    font-size: 30px;
}

.baner-body {
    color: rgb(184, 45, 226);
    font-size: 20px;
    padding-left: 25px;
}

.baner-item {
    font-size: 10px;
    padding: 20px;
    margin: 20px 10px;
    text-align: center;
    border: transparent;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 25px;
}


.img-main {
    width: 250px;
    height: 250px;
}

.img-head {
    width: 120px;
    height: 120px;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px;
}

.product-item {
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.adicionales-container {
    background-color: #3193b9;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 5px 10px;
}

.adicionales-container-item {
    padding-left: 10px;
    color: white;
}

.adicioanles-p {
    color: black;
}

.textEmail {
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 10px 20px 15px;
    color: #aca6a6;
    font-size: 10px;
}

li {
    list-style: none;
    padding: 10px;
}

.footer-item {
  text-align: center;
}

.a-footer {
    text-decoration: none;
    color: #aca6a6;
}

.a-footer:hover {
   color: black;
}

@media screen and (max-width:550px) {

    .menu {
        display: block;
    }

    .nav {
        display: none;
    }

    .baner-item {
        font-size: 5px;
        padding: 8px;
        margin: 10px 5px;
    }

    .img-baner {
        width: 270px;
        height: 250px;
    }

    .baner-body {
        font-size: 7px;
        padding-left: 15px;
    }

    .baner-head {
        font-size: 10px;
    }

    .li-baner {
        padding: 7px;
    }

    .baner-p {
        margin-bottom: 1rem;
    }

    .product-section {
        gap: 5px;
        padding: 8px;
    }

    .product-item {
        padding: 5px;
    }

    .img-main {
        width: 130px;
        height: 130px;
    }

    .adicionales-container-item {
        padding-left: 5px;
        font-size: 10px;
    }

    .textEmail {
        font-size: 7px;
    }

    .footer-item {
        font-size: 7px;
    }
    
    li {
        text-align: start;
    }
    
}
