:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
}

.etiq-sueltas {
    text-align: center;
}

.container {
display: flex;
justify-content: right;
background-color: black;
flex-wrap: wrap;
}

#logo {
   padding-right: 47em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header {
    background-color: black;
}

nav a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container-head-item {
    padding: 10px 15px;
}



.hero-banner {
   background-color: #c6f1f8; 
   height: 60vh;
   display: flex;
   flex-direction: column;
   align-items: start;
   background-image: url("../image/imgbaner.jpg");
   background-repeat: no-repeat;
   background-position: right;
}

.baner-head {
    padding-left: 25px;
}

.baner-body {
    color: rgb(184, 45, 226);
    font-size: 30px;
    padding-left: 25px;
}

.baner-item {
    font-size: 20px;
    padding: 20px;
    margin: 20px 10px;
    border: transparent;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 25px;
}


img {
    width: 400px;
    height: 400px;
}

.img-head {
    width: 120px;
    height: 120px;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 25px;
}

.product-item {
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.adicionales-container {
    padding: 50px 50px;
    background-color: #ccc;
    height: 50vh;
    background-image: url("../image/extras.jpg");
    background-repeat: no-repeat;
    
}
